window {
    margin: 0px;
    border: 1px solid #bd93f9;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Noto Serif";
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    color: #f8f8f2;
    background-color: transparent;
}

#img {
    margin-right: 10px;
    border-radius: 4px;
}

#entry {
    padding: 10px;
}

#entry:selected {
    background-color: #262626;
    border-radius: 25px;
    border: none;
    outline: none;
}

#entry:selected #text {
    font-weight: bold;
}